mat-card {
    margin-top: .25em;
}

.keybinds {
    display: flex;
    margin: .5em 0em;
    
    .tut-text {
        display: flex;
        margin-right: 1em;
        
        p{
            margin: auto 0em auto .125em;
        }
    
        mat-icon {
            cursor: pointer;
        }
    }
}