<mat-card>
  <mat-card-title>
    Debugger
  </mat-card-title>
  <mat-card-content>
    <div class="polygon">
      <h4>Polygon</h4>
      <div class="polygon-loader">
        <div>
          <mat-select placeholder="Load a predefined Polygon" [(value)]="selectedId">
            <mat-option *ngFor="let polygon of polygons" [value]="polygon.key">
              {{polygon.value}}
            </mat-option>
          </mat-select>
        </div>
        <button mat-raised-button color="primary" (click)="loadPolygon(selectedId)">Load</button>
      </div>
      <div class="polygon-reset">
        <button mat-raised-button color="primary" (click)="reset()">
          Reset
        </button>
      </div>
    </div>

    <div class="display-debug-in-canvas">
      <div class="title">
        <h4>
          Debugger
        </h4>
      </div>
      <div>
        <mat-slide-toggle [checked]="state.getDisplayDebugger()" (toggleChange)="state.toggleDebuggerDisplay()"
          color="primary">
          Display Debug in Canvas
        </mat-slide-toggle>
      </div>
    </div>

    <div class="performance">
      <div class="title">
        <h4>
          Performance
        </h4>
        <mat-icon aria-hidden="false" aria-label="Info"
          matTooltip="Javascript can only check performances in milliseconds. Therefore this is only an rough estimate.">
          info</mat-icon>
      </div>
      <table>
        <tr>
          <th></th>
          <th>Raycast</th>
          <th>Non Zero</th>
          <th>Winding</th>
          <th>To Vector Rays</th>
          <th>Redraw</th>
        </tr>
        <tr>
          <td class="left-align">Latest</td>
          <td>{{debuggerState.latestAlgorithmTime.get(algorithm.Raycast) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.latestAlgorithmTime.get(algorithm.NonZero) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.latestAlgorithmTime.get(algorithm.WindingNumber) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.latestToVectorRaysTime | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.latestRedrawTime | number:'1.2-2'}}ms</td>
        </tr>
        <tr>
          <td class="left-align">Average</td>
          <td>{{debuggerState.averageAlgorithmTime.get(algorithm.Raycast) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.averageAlgorithmTime.get(algorithm.NonZero) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.averageAlgorithmTime.get(algorithm.WindingNumber) ?? 0 | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.averageToVectorRaysTime | number:'1.2-2'}}ms</td>
          <td>{{debuggerState.averageRedrawTime | number:'1.2-2'}}ms</td>
        </tr>
      </table>
      <div class="simulate">
        <button mat-raised-button color="primary"
          [disabled]="isSimulationRunning || state.currentAlgorithm !== algorithm.Raycast" (click)="startSimulation()">
          Simulate every angle
        </button>
        <button mat-raised-button color="primary" (click)="randomPoint()" [disabled]="randomPointInterval">
          Randomly generate point
        </button>
        <p *ngIf="randomPointInterval">
          Currently running: {{randomPointIntervalCurrent}} / {{randomPointIntervalMax}}
        </p>
      </div>

    </div>

    <div class="logs">
      <div class="title">
        <h4>
          Logs
        </h4>
        <mat-icon aria-hidden="false" aria-label="Info" (click)="toggleLogs()">
          {{logsShown ? 'expand_less' : 'expand_more'}}
        </mat-icon>
      </div>
      <mat-list *ngIf="logsShown">
        <mat-list-item *ngFor="let item of debuggerService.logs">
          <mat-icon *ngIf="item.level === LogLevel.Warning" class="level-icon warning">warning</mat-icon>
          <mat-icon *ngIf="item.level === LogLevel.Error" class="level-icon error">error</mat-icon>
          <p [ngClass]="{'warning': item.level === LogLevel.Warning, 'error': item.level === LogLevel.Error}">
            {{item.content}}
            <span *ngIf="item.count > 0" [matBadge]="item.count" matBadgeOverlap="false"></span>
          </p>
        </mat-list-item>
        <mat-list-item *ngIf="debuggerService.logs.length === 0">
          <i>No Logs available</i>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>