<div>
  <h4>Polygon</h4>
  <div class="polygon-loader">
    <div>
      <mat-select placeholder="Load a predefined Polygon" [(value)]="selected">
        <mat-option *ngFor="let polygon of polygons" [value]="polygon">
          {{polygon.name}}
        </mat-option>
      </mat-select>
    </div>
    <button mat-raised-button color="primary" (click)="loadPolygon(selected)">Load</button>
  </div>
</div>

<div class="logs">
  <h4>Logs</h4>
  <mat-list>
    <mat-list-item *ngFor="let item of debuggerService.logs">
      <mat-icon *ngIf="item.level === LogLevel.Warning" class="level-icon warning">warning</mat-icon>
      <mat-icon *ngIf="item.level === LogLevel.Error" class="level-icon error">error</mat-icon>
      <p [ngClass]="{'warning': item.level === LogLevel.Warning, 'error': item.level === LogLevel.Error}">
        {{item.content}}
        <span *ngIf="item.count > 0" [matBadge]="item.count" matBadgeOverlap="false"></span>
      </p>
    </mat-list-item>
  </mat-list>
</div>