h4 {
    margin-bottom: 0;
}

.polygon-loader {
    margin: 1em 0em;
    width: 100%;
    display: flex;

    * {
        margin: 0em 0.5em;
    }

    div {
        width: 100%;
        margin: auto 0.5em;
    }
}

.logs {
    mat-list {
        margin: .5em .5em;
    }
}

.level-icon {
    margin-right: 5px;
}

.warning {
    color: orange;
}

.error {
    color: red;
}
